<f:be.container loadJQuery="true"
                includeCssFiles="{0: '{f:uri.external(uri:\'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\')}'}"
                includeJsFiles="{0: '{f:uri.external(uri:\'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js\')}'}"
>

    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">
                    <f:be.buttons.csh/>
                </div>
                <div class="right"></div>
            </div>
            <div class="typo3-docheader-buttons">
                <div class="left"></div>
                <div class="right"></div>
            </div>
        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <div class="container" style="max-width:500px">
                    <f:flashMessages renderMode="div"/>
                    <f:render section="content"/>
                </div>
            </div>
        </div>
    </div>
</f:be.container>
